# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Data files
cards.json
cards.db

# Local env files
.env
.env.*
!.env.example

# binary
*.png
*.jpg
*.pdf
*.mp4
*.zip
*.woff
